# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv
env/
venv/

# Data
data/raw/*
!data/raw/london_boroughs.geojson
data/processed/*
output/*
!output/*_restaurants_interactive.html

# Local backups (don’t commit)
data/sample/*.bak.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
